gnostr
*.o
/.direnv/
.privenv
nostril
/result
configurator.out*
configurator
.build-result
.buildcmd
config.h
tags
libsecp256k1.a
/target

Cargo.lock
Cargo.toml
*.json
scripts/jb55-post
scripts/nostr-follows
scripts/nostr-req
scripts/subnote
/dist
/version

.DS_Store
deps/.DS_Store

CMakeCache.txt
CMakeFiles/
bash_profile.log
cmake_install.cmake
ext/secp256k1/CMakeFiles/
ext/secp256k1/CTestTestfile.cmake
ext/secp256k1/DartConfiguration.tcl
ext/secp256k1/cmake_install.cmake
ext/secp256k1/src/CMakeFiles/
ext/secp256k1/src/CTestTestfile.cmake
ext/secp256k1/src/cmake_install.cmake
